[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Jack Parsons
	email = jackpar1113@gmail.com
[core]
	editor = nvim
